<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>iFrame - Escenario 1</title>
  </head>
  <body>
    <h1>Escenario 1</h1>
    <a
      href="http://herma.test:5000/set-cookie?cb=http%3A%2F%2Flocalhost%3A5001%2Fescenario%2F1"
      id="set-cookie"
      >Set cookie</a
    >
    <br />
    <a href="/escenario/1">Reload escenario</a>
    <nav>
      <p>Go to</p>
      <ul role="navigation">
        <li><a href="/escenario/1">Escenario 1</a></li>
        <li><a href="/escenario/2">Escenario 2</a></li>
        <li><a href="/escenario/3">Escenario 3</a></li>
      </ul>
    </nav>
    <iframe
      src="http://herma.test:5000/escenario/1"
      width="100%"
      height="600px"
    ></iframe>
  </body>
</html>
