<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Window Error</title>
  </head>
  <body>
    <div id="result"></div>
    <iframe
      src="http://client.herma.test:5000/iframe"
      width="100%"
      height="600px"
    ></iframe>
    <script>
      (function() {
        window.addEventListener("message", handleMessageEvent);

        function handleMessageEvent(ev) {
          var res = document.getElementById("result");
          res.innerHTML = `Event received: <br /><code><pre>${JSON.stringify(
            ev.data,
            null,
            4
          )}</pre></code>`;
        }
      })();
    </script>
  </body>
</html>
